* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 1000px;
}

/* start header */

.header {
  background-color: black;
  width: 100%;
  height: 450px;
  position: relative;
}

.header img {
  width: 100%;
  height: 450px;
}

.header .logo {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px;
  top: 20px;
  border-radius: 50%;
}

.nav {
  position: relative;
}

ul {
  position: absolute;
  top: 30px;
  left: 55%;
}

li {
  color: white;
  display: inline-block;
  font-size: 13px;
  margin-right: 40px;
}

ul li a {
  color: rgb(172, 172, 172);
  text-decoration: none;
}

ul li a:hover {
  color: white;
}

ul li a.active {
  color: white;
}

.header .login {
  position: absolute;
  left: 90%;
  top: 32px;
  width: 90px;
  background: none;
  color: white;
  padding: 3px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.header .login a {
  text-decoration: none;
  color: white;
}

.header .login a:hover {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 2px;
  height: 20px;
  transition: 0.5s ease-in-out;
}

.header .welctext {
  position: absolute;
  top: 30%;
  left: 43%;
  color: aliceblue;
}

svg {
  background-color: white;
  position: relative;
  top: 250x;
  width: 1788px;
  margin: -269px;
  z-index: 999;
}

/* end header */

.section {
  width: 100%;
  height: 335px;
  background-color: rgb(250, 249, 249);
  z-index: 1;
  margin-top: 150px;
  position: absolute;
  top: 100%;
}

.section h1 {
  top: 10%;
  color: black;
  /* width: 42%; */
  font-size: 20px;
  text-align: left;
  margin: 0px;
  position: absolute;
  left: 20%;
}

.section p {
  width: 40%;
  position: absolute;
  margin-left: 100px;
  top: 40%;
}

.section img {
  width: 35%;
  margin-left: 56%;
}
